.discover-header {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  border-radius: 8px;
  padding-top: 8px;
}

.discover-header-background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 101%;
  height: 100%;
  background: rgba(21, 27, 36, 0.8);
  mix-blend-mode: normal;
  z-index: 1;
}

.discover-header-cover-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.discover-header-container {
  position: relative;
  width: 100%;
  background: rgb(21, 27, 36);
  display: flex;
  flex-flow: wrap;
  justify-content: left;
  padding-top: 8px;
}

.discover-header-content-container {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 40px 20px 40px 30px;
}

.discover-header-content {
  display: grid;
  gap: 14px;
  align-items: start;
  grid-template-columns: 240px 2fr auto auto;
  grid-template-rows: max-content repeat(4, auto);
}

.discover-header-cell-intro {
  display: grid;
  grid-column: 2;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
}

.gap-x1 {
  gap: 8px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

ul {
  font-size: 14px;
  list-style-type: none;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  color: white;
}

.color-inherit {
  color: inherit;
}

.text-xs {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
}

a {
  text-decoration: underline;
  transition: 0.3s;
  cursor: pointer;
}

.edit-screener-container {
  grid-column: 3;
  display: grid;
  justify-content: flex-end;
  color: white;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.edit-container {
  position: relative;
  transition: background-color 0.2s, box-shadow 0.2s, color 0.4s, padding 0.4s;
  border: 0px;
  margin: 0px;
  border-radius: 6px;
  text-decoration: none;
  vertical-align: top;
  font-weight: normal;
  font-size: 13px;
  line-height: 32px;
  color: rgb(35, 148, 223);
  height: 32px;
  padding: 0px 12px 0px 36px;
  box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-color: rgba(53, 110, 233, 0.1);
}

button {
  appearance: none;
  overflow: visible;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}

.edit-container>svg {
  display: inline;
  fill: rgb(35, 148, 223);
  opacity: 0.5;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
}

button:hover {
  opacity: 0.7;
}

.stock-alert-container {
  grid-area: 1 / 4;
  display: grid;
  -webkit-box-pack: start;
  justify-content: flex-start;
  color: white;
}

.stock-alert {
  position: relative;
  transition: background-color 0.2s, box-shadow 0.2s, color 0.4s, padding 0.4s;
  border: 0px;
  margin: 0px;
  border-radius: 6px;
  text-decoration: none;
  vertical-align: top;
  font-weight: normal;
  font-size: 13px;
  line-height: 32px;
  color: rgb(255, 255, 255);
  height: 32px;
  padding: 0px 12px 0px 36px;
  box-shadow: none;
  background-color: rgb(35, 148, 223);
}

.stock-alert>svg {
  display: inline;
  fill: rgb(255, 255, 255);
  opacity: 0.5;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
}

.header-measure-pic-container {
  grid-area: 1 / 1 / span 5;
  max-width: 200px;
  padding-top: 40px;
}

.header-measuer-pic-subcontainer {
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.header-measuer-pic-childcontainer {
  position: absolute;
  inset: 0px;
}

.header-canvas-container {
  position: absolute;
  top: 0px;
  left: 0px;
}

.header-measure-content {
  position: relative;
}

canvas {
  width: 100%;
}

.header-title-container {
  align-items: start;
  grid-area: 2 / 2 / auto / span 3;
  display: grid;
  gap: 8px;
}

.header-title {
  font-size: 2.3rem;
  margin: 0px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  padding: 0px;
}

.header-result-container {
  grid-area: 3 / 2 / auto / span 3;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
}

.header-result-container p {
  margin: 0px;
  line-height: 1.5;
  font-size: 0.9rem;
}

.header-result-label {
  color: rgb(201, 203, 207);
}

.header-result {
  color: rgb(255, 255, 255);
}

.header-result-new-container {
  font-size: 0.9rem;
  border-radius: 12px;
  padding: 3px 8px;
  white-space: nowrap;
  text-decoration: none;
  height: min-content;
  text-align: center;
  display: inline-block;
  font-weight: normal;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
}

.header-result-new {
  display: grid;
  gap: 4px;
  grid-template-columns: auto auto;
  align-items: center;
}

.header-result-new-circle {
  width: 6px;
  height: 6px;
  background-color: rgb(165, 76, 236);
  border-radius: 16px;
}

.header-description-container {
  grid-area: 4 / 2 / auto / span 3;
  display: grid;
  align-items: flex-start;
}

.header-description {
  font-size: 0.9rem;
  margin: 0px;
  line-height: 1.5;
  color: rgb(201, 203, 207);
}

.header-filter-container {
  grid-template-columns: max-content max-content;
  align-items: start;
  grid-area: 5 / 2 / auto / span 3;
  display: grid;
  gap: 8px;
}

.header-filter {
  position: relative;
  display: block;
}

.header-filter-btn {
  position: relative;
  transition: background-color 0.2s, box-shadow 0.2s, color 0.4s, padding 0.4s;
  border: 0px;
  margin: 0px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 32px;
  color: rgb(255, 255, 255);
  height: 32px;
  padding: 0px 36px 0px 16px;
  box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-color: rgba(255, 255, 255, 0.05);
  display: block;
  width: 100%;
  text-align: left;
}

.header-filter-btn svg {
  display: inline;
  fill: rgb(255, 255, 255);
  opacity: 0.5;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
}

.company-container {
  grid-template-columns: max-content max-content 1fr;
  grid-template-rows: auto;
  padding-left: 0px;
  padding-right: 0px;
  display: grid;
  padding: 16px 0px;
  gap: 8px;
}

.total-company-count {
  font-size: 1rem;
  margin: 0px;
  line-height: 1.5;
  font-weight: 500;
  align-content: center;
  color: rgb(255, 255, 255);
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.new-companies-container {
  grid-area: 1 / 2;
  display: grid;
  justify-content: flex-start;
  color: white;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 10px;
  align-content: center;
}

.new-companies-btn {
  position: relative;
  transition: background-color 0.2s, box-shadow 0.2s, color 0.4s, padding 0.4s;
  border: 0px;
  margin: 0px;
  border-radius: 6px;
  text-decoration: none;
  vertical-align: top;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 32px;
  color: rgb(255, 255, 255);
  height: 32px;
  padding: 0px 12px;
  box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-color: rgba(255, 255, 255, 0.05);
}

.new-companies-content {
  display: grid;
  gap: 6px;
  grid-template-columns: 1fr max-content;
  align-items: center;
  font-size: 0.9rem;
}

.view-style-container {
  display: grid;
  gap: 8px;
  grid-template-columns: auto auto;
  justify-content: flex-end;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 10px;
  color: white;
}

.view-button {
  position: relative;
  transition: background-color 0.2s, box-shadow 0.2s, color 0.4s, padding 0.4s;
  border: 0px;
  border-radius: 6px;
  text-decoration: none;
  vertical-align: top;
  font-weight: normal;
  font-size: 1rem;
  line-height: 40px;
  color: rgb(35, 148, 223);
  /* width: 40px; */
  height: 40px;
  padding: 0px 8px;
  box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-color: rgba(53, 110, 233, 0.1);
}

.view-button svg {
  display: inline;
  fill: rgb(35, 148, 223);
  opacity: 0.5;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin: 10px 0px;
}

.stocks-table-container {
  width: 100%;
  padding-top: 20px;
  color: white;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 10px;
}

.stocks-table-scorll {
  padding-top: 0px;
  padding-bottom: 0px;
}

.stocks-table-section {
  position: relative;
}

.stocks-table-subcontainer {
  overflow-x: auto;
}

.stocks-table {
  min-width: 920px;
  border-color: transparent;
  width: 100%;
  table-layout: auto;
  border-spacing: 0px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  border: none;
}

.stocks-table-header {
  white-space: nowrap;
  border-spacing: 0px;
  color: rgb(255, 255, 255);
}

.stocks-table-header tr th {
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.stocks-table th {
  position: sticky;
  background: rgb(21, 27, 36) !important;
  padding: 10px 8px;
  vertical-align: middle;
  text-align: left;
}

.table-header-empty {
  width: 40px;
}

.table-header-company {
  width: 116px;
}

.stocks-table-header th>svg {
  cursor: help;
  display: inline-block;
  margin-bottom: -8px;
  margin-top: -8px;
  margin-right: -8px;
}

.stocks-table tbody tr {
  font-weight: normal;
  line-height: 1.5;
}

.stocks-table tr {
  height: auto;
}

.stocks-table-row {
  background: transparent;
  font-size: 0.9rem;
}

.stocks-table td {
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.5;
  padding: 0px;
  border-top: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  vertical-align: middle;
  text-align: left;
  padding: 10px 8px;
}

.stocks-table-row td a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.stock-image-container {
  margin-left: 3px;
  margin-top: 3px;
}

.stock-image-subcontainer {
  padding-top: 100%;
  position: relative;
  width: 48px;
}

.stock-canvas-container {
  position: absolute;
  top: 0px;
  left: 0px;
}

.stock-image-child-container {
  position: absolute;
  inset: 0px;
}

.stock-canvas-container {
  position: absolute;
  top: 0px;
  left: 0px;
}

.stock-image-container {
  position: relative;
}

.stock-canvas-container {
  width: 100%;
}

.company-link-container {
  gap: 4px;
  align-items: center;
  grid-template-columns: auto auto;
  display: grid;
}

.company-link-style {
  color: hsl(204, 75%, 51%);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.cell-intro {
  opacity: 0.5;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  padding-right: 0px !important;
  cursor: help;
}

.negative {
  color: hsl(0, 77%, 58%) !important;
}

.positive {
  color: hsl(151 63% 48%) !important;
}

.disable-link {
  opacity: 0.3;
}