.stock-ad-table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
}

.stock-ad-table th, td {
  border: 1px solid #ddd;
  padding: 4px;
  height: 20px;
}

.stock-ad-table th {
  background-color: #f2f2f2;
}

.stock-ad-table td {
  text-align: center;
}

.stock-ad-table td:first-child {
  text-align: left;
}

.stock-ad-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
